body {background-color: #63B995;}

p {text align: center; color: purple; font-size: 80%;}

h2 {text-align: center; font-size: 300%;}

img {size: ;}




<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
